<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestDatabase.Properties.Settings.AeroportoConnectionString"
            connectionString="Data Source=DESKTOP-S15JMV2\SQLEXPRESS;Initial Catalog=Aeroporto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>